<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <br>
      <br>
      <h1>Home page</h1>


      <h4>Requests to GET JSON</h4>
      <h5>JSON for user</h5>
      <ol>
        <!-- JSON for user -->
        <li> <a href="/user/">/user/</a>
        </li>
        <li> <a href="/user/findone/101">/user/findone/101</a>
        </li>
        <li> <a href="/user/findone/102">/user/findone/102</a>
        </li>
        <!-- To find all users -->
        <li> <a href="/user/findall">/user/findall</a>
        </li>
        <li> <a href="/user/findone/103">/user/103</a>
        </li>
        <!-- To find user by id -->
        <li> <a href="/user/findone/104">/user/104</a>
        </li>


      </ol>
      <br>
      <h5>JSON for Category</h5>
      <ol>

        <li> <a href="/category/">/category/</a>
        </li>
        <li> <a href="/category/findone/101">/category/findone/101</a>
        </li>
        <li> <a href="/category/findone/102">/category/findone/102</a>
        </li>
        <li> <a href="/category/findall">/category/findall</a>
        </li>
        <li> <a href="/category/findone/103">/category/103</a>
        </li>
        <li> <a href="/category/findone/104">/category/104</a>
        </li>
      </ol>
      <br>
      <h5>JSON for Account</h5>
      <ol>
        <li> <a href="/account/">/account/</a>
        </li>

        <li> <a href="/account/findone/101">/account/findone/101</a>
        </li>
        <li> <a href="/account/findone/102">/account/findone/102</a>
        </li>
        <li> <a href="/account/findall">/account/findall</a>
        </li>
        <li> <a href="/account/findone/103">/account/103</a>
        </li>
        <li> <a href="/account/findone/104">/account/104</a>
        </li>

      </ol>
      <br>
      <!-- JSON for Transaction by Yeshwanth Reddy -->
      <h5>JSON for Transaction</h5>
      <ol>
        <li> <a href="/transaction/">/transaction/</a>
        </li>
        <li> <a href="/transaction/findone/101">/transaction/findone/101</a>
        </li>
        <li> <a href="/transaction/findone/102">/transaction/findone/102</a>
        </li>
        <li> <a href="/transaction/findall">/transaction/findall</a>
        </li>
        <li> <a href="/transaction/findone/103">/transaction/103</a>
        </li>
        <li> <a href="/transaction/findone/104">/transaction/104</a>
        </li>



      </ol>
      <br>
      <h4>Requests to GET a view</h4>
      <br>
      <!-- views for user by SAI KIRAN DODDAPANENI-->
      <h5>Views for User</h5>
      <br>
      <ol>

        <li>

          <a href="/user">/user</a>
        </li>
        <li>
          <!-- To create a new user  -->
          <a href="/user/create">/user/create</a>
        </li>
        <li>
          <!-- to delete user with id 101 -->
          <a href="/user/delete/101">/user/delete/101</a>
        </li>
        <li>
          <!-- To get details with user id 101 -->
          <a href="/user/details/101">/user/details/101</a>
        </li>
        <li>
          <a href="/user/edit/101">/user/edit/101</a>
        </li>
        <li>
          <a href="/user/delete/102">/user/delete/102</a>
        </li>
        <li>
          <!-- To get details of the user with id 102 -->
          <a href="/user/details/102">/user/details/102</a>
        </li>
        <li>
          <a href="/user/edit/102">/user/edit/102</a>
        </li>
        <li>
          <!-- to delete user wih id 103 -->
          <a href="/user/delete/103">/user/delete/103</a>
        </li>
        <li>
          <a href="/user/details/103">/user/details/103</a>
        </li>
        <li>
          <!-- To edit user details with id 103 -->
          <a href="/user/edit/103">/user/edit/103</a>
        </li>
        <li>
          <a href="/user/delete/104">/user/delete/104</a>
        </li>
        <li>
          <a href="/user/details/104">/user/details/104</a>
        </li>
        <li>
          <!-- To edit user details with id 104 -->
          <a href="/user/edit/104">/user/edit/104</a>
        </li>
        </li>
      </ol>
      <br>
      <h5>Views for Account</h5>
      <br>
      <ol>
        <!-- views for transaction by Nishanth Reddy -->


        <li>
          <a href="/account">/account</a>
        </li>
        <!--This is used to create a account-->
        <li>
          <a href="/account/create">/account/create</a>
        </li>
        <!--This is used to delete an account with id 101-->
        <li>
          <a href="/account/delete/101">/account/delete/101</a>
        </li>
        <!--This is used to delete an account with id 102-->
        <li>
          <a href="/account/delete/102">/account/delete/102</a>
        </li>
        <!--This is used to delete an account with id 103-->
        <li>
          <a href="/account/delete/103">/account/delete/103</a>
        </li>
        <!--This is used to delete an account with id 104-->
        <li>
          <a href="/account/delete/104">/account/delete/104</a>
        </li>
        <!--This is used to get details of an account with id 101-->
        <li>
          <a href="/account/details/101">/account/details/101</a>
        </li>
        <!--This is used to get details of an account with id 102-->
        <li>
          <a href="/account/details/102">/account/details/102</a>
        </li>
        <!--This is used to get details of an account with id 103-->

        <li>
          <a href="/account/details/103">/account/details/103</a>
        </li>
        <!--This is used to get details of an account with id 104-->

        <li>
          <a href="/account/details/104">/account/details/104</a>
        </li>
        <!--This is used to edit account with id 101-->
        <li>
          <a href="/account/edit/101">/account/edit/101</a>
        </li>
        <!--This is used to edit account with id 102-->

        <li>
          <a href="/account/edit/102">/account/edit/102</a>
        </li>
        <!--This is used to edit account with id 103-->

        <li>
          <a href="/account/edit/103">/account/edit/103</a>
        </li>
        <!--This is used to edit account with id 104-->
        <li>
          <a href="/account/edit/104">/account/edit/104</a>
        </li>
      </ol>
      <br>
      <h5>Views for Transaction</h5>
      <br>
      <ol>
        <!-- views for transaction by Yeshwanth Reddy -->

        <li>
          <a href="/transaction">/transaction</a>
        </li>
        <li>
          <a href="/transaction/create">/transaction/create</a>
        </li>
        <!-- To delete  a transaction for id 101 -->
        <li>
          <a href="/transaction/delete/101">delete 101</a>
        </li>
        <!-- For getting details for id 101  -->
        <li>
          <a href="/transaction/details/101">details 101</a>
        </li>
        <li>
          <a href="/transaction/edit/101">edit 101</a>
        </li>
        <li>
          <a href="/transaction/delete/102">delete 102</a>
        </li>
        <li>
          <!-- getting details for transaction with id 102 -->
          <a href="/transaction/details/102">details 102</a>
        </li>
        <li>
          <a href="/transaction/edit/102">edit 102</a>
        </li>
        <li>
          <a href="/transaction/edit/103">delete 103</a>
        </li>
        <li>
          <a href="/transaction/edit/103">details 103</a>
        </li>
        <li>
          <a href="/transaction/edit/103">edit 103</a>
        </li>
        <li>
          <!-- for editing transaction with id 104 -->
          <a href="/transaction/edit/104">delete 104</a>
        </li>
        <li>
          <a href="/transaction/edit/104">details 104</a>
        </li>
        <li>
          <a href="/transaction/edit/104">edit 104</a>
        </li>
      </ol>
      <br>
      <h5>Views for Category</h5>
      <br>
      <ol>


        <li>
          <a href="/category">/category</a>
        </li>
        <!--This is used to create a category-->
        <li>
          <a href="/category/create">create</a>
        </li>
        <!--This is used to delete a category with id 101-->
        <li>
          <a href="/category/delete/101">delete 101</a>
        </li>
        <!--This is used to delete a category with id 102-->
        <li>
          <a href="/category/delete/102">delete 102</a>
        </li>
        <!--This is used to delete a category with id 103-->
        <li>
          <a href="/category/delete/103">delete 103</a>
        </li>
        <!--This is used to delete a category with id 104-->
        <li>
          <a href="/category/delete/104">delete 104</a>
        </li>
        <!--This is used to get details of a category with id 101-->
        <li>
          <a href="/category/details/101">details 101</a>
        </li>
        <!--This is used to get details of a category with id 102-->
        <li>
          <a href="/category/details/102">details 102</a>
        </li>
        <!--This is used to get details of a category with id 103-->
        <li>
          <a href="/category/details/103">details 103</a>
        </li>
        <!--This is used to get details of a category with id 104-->
        <li>
          <a href="/category/details/104">details 104</a>
        </li>
        <!--This is used to edit category with id 101-->
        <li>
          <a href="/category/edit/101">edit 101</a>
        </li>
        <!--This is used to edit category with id 102-->
        <li>
          <a href="/category/edit/102">edit 102</a>
        </li>
        <!--This is used to edit category with id 103-->
        <li>
          <a href="/category/edit/103">edit 103</a>
        </li>
        <!--This is used to edit category with id 104-->
        <li>
          <a href="/category/edit/104">edit 104</a>
        </li>





      </ol>
    </div>
  </div>
</div>