<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>category details</h2>
      <br>
      <br> ID: <%=  category._id %>
      <br> category_id: <%=category.category_id%>
      <br> category_name: <%=category.category_name%>
      <br> date: <%=category.date%>
      <hr>

      <form method="get" action="/category">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div>
  </div>
</div>