<br>
<!-- delete view -->
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <!-- values to delete when user is removed -->
      <h2>Confirm deletion of user</h2>
      <br>
      <br> ID: <%=  user._id %>
      <br> Email: <%=user.email%>
      <br> Given: <%=user.given%>
      <br> Family: <%=user.family%>
      <br> Street 1: <%=user.street1%>
      <br> Street 2: <%=user.street2 %>
      <br> City: <%=user.city %>
      <br> State: <%=user.state %>
      <br> Zip: <%=user.zip %>
      <br> Country: <%=user.country %>
      <hr>
      
      <form method="get" action="/user">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>


      <form method="POST" action="/user/delete/<%= user._id %>">
        <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
      </form>

    </div>
  </div>
</div>